<h1>Set up new profile:</h1>

<%= form_for @user, url: {action: "create"} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br/>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br/>
  <%= f.label :city %>
  <%= f.text_field :city %>
  <br/>
  <%= f.label :state %>
  <%= f.text_field :state %>
  <br/>
  <%= f.submit "Add new profile" %>
<% end %>
